[user]
	name = …
	email = …@…

[color]
	ui = auto

[alias]
	b = branch
	ci = commit
	co = checkout
	df = diff
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	nb = checkout -b
	sa = stash apply
	sd = stash drop
	sl = stash list
	st = status
	quicklog = log --pretty=format:'%h %cr %cn %Cgreen%s%Creset'
	changes = log --pretty=oneline
	show-files = show --pretty="format:" --name-only
	spull = !git-svn fetch && git-svn rebase
	spush = !git-svn dcommit
	deploy = !git-deploy
	wtc = commit -m "`curl -s http://whatthecommit.com/ | sed -n '/<p>/s/<p>//p'`"
	cam = commit -am
	oops = commit --amend --no-edit

[core]
  pager = cat
	editor = atom
	whitespace = -trailing-spac

[diff]
	mnemonicPrefix = true
  renames = true
  wordRegex = .

[fetch]
  recurseSubmodules = on-demand

[grep]
  extendedRegexp = true

[log]
  abbrevCommit = true

[merge]
  conflictStyle = diff3

[mergetool]
  keepBackup = false
  keepTemporaries = false
  prompt = false

[pull]
  rebase = preserve

[push]
	default = upstream

[rerere]
  autoupdate = true
  enabled = true

[status]
  submoduleSummary = true
  showUntrackedFiles = all

[color "branch"]
  upstream = cyan

[tag]
  sort = version:refname
